---
import Layout from '../layouts/Layout.astro';
import Introduction from '../components/agriconnect/Introduction.astro';
import Chatbot from '../components/agriconnect/Chatbot.astro';
import AnalyticsDashboard from '../components/agriconnect/AnalyticsDashboard.astro';
import ContentManagement from '../components/agriconnect/ContentManagement.astro';
import ProductsServices from '../components/agriconnect/ProductsServices.astro';
---

<Layout title="AgriConnect - intaigent" isMainPage={false}>
  <main>
    <Introduction />
    <Chatbot />
    <AnalyticsDashboard />
    <ProductsServices />
    <ContentManagement />
  </main>
</Layout>