---
import Offers from '../components/Offers.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Award from '../components/Award.astro';
import Contact from '../components/Contact.astro';
import FeaturedProduct from '../components/FeaturedProduct.astro';

---

<Layout title="Intaigent" isMainPage={true}>
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<Offers/>
		<FeaturedProduct/>
		<Award/>
		<Contact/>
	</main>
</Layout>