---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-10">
  <Container class="text-gray-800 dark:text-white md:text-3xl p-4 flex justify-between items-center">
    <div>
      <p>Office address: 668 Shangda Road, 1-5-A Baoshan District, Shanghai China</p>
    </div>

    <div>
      <p>&copy; 2024 intagient. All Rights Reserved.</p>
    </div>
  </Container>
</footer>

